
/* Общие стили для админки */
body {
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
img {
    max-width: 200px;
}

h1, h2, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #aa976e;
}
li{
    list-style-type: none;
  margin: 10px;
}
ul{
    display: flex;
    justify-content: center;
}
button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    font-family: 'Deledda Open', serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
}

/* Стили для шапки админки */
header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    font-family: 'Deledda Open', serif;
}

header nav {
    margin-top: 20px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header nav a:hover {
    text-decoration: underline;
}

/*!* Боковая панель *!*/
/*.sidebar {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 250px;*/
/*    height: 100%;*/
/*    background-color: #222;*/
/*    color: white;*/
/*    padding-top: 30px;*/
/*    font-family: 'Deledda Open', serif;*/
/*}*/

/*.sidebar a {*/
/*    display: block;*/
/*    color: white;*/
/*    padding: 15px;*/
/*    font-size: 18px;*/
/*    text-decoration: none;*/
/*    margin: 10px 0;*/
/*}*/

/*.sidebar a:hover {*/
/*    background-color: #007bff;*/
/*}*/

/*.sidebar .active {*/
/*    background-color: #0056b3;*/
/*}*/

/* Основной контент */
main {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 10px;
    height: 10%;
}

.table th, .table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
    color:#FFFFFF;
}

.table th {
    color: #FFFFFF;
}



