@font-face {
    font-family: 'Deledda Open';
    src: url('../fonts/Deledda Open Light.ttf') format('.ttf');
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Roboto Flex';
    src: url("../fonts/RobotoFlex-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Arsenal-Regular';
    src: url("../fonts/Arsenal-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Bitter-Regular';
    src: url("../fonts/Bitter-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
