@font-face {
    font-family: 'Deledda Open';
    src: url('../fonts/Deledda Open Light.ttf') format('.ttf');
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Roboto Flex';
    src: url("../fonts/RobotoFlex-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Arsenal-Regular';
    src: url("../fonts/Arsenal-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
@font-face {
    font-family: 'Bitter-Regular';
    src: url("../fonts/Bitter-Regular.ttf");
    font-style: normal; /* Стиль: нормальный */
}
body{
    margin: 0;
    padding: 0;
}

.card-header {
    font-size: 20px;
    border-bottom: 1px ;
}

.card-body {
    font-size: 18px;
    font-family: "Deledda Open", serif;

}
.btn-password {
    color: white;
    text-decoration: none;
}
.nav-link {

    color: #fff;
    text-decoration: none;
}


